
@{
    ViewData["Title"] = "Success";
}

<div class="container mt-100">
    <div class="alert alert-success box-shadow-2">Your request for more info was sent successfully! Please allow 24 - 48 hours for a reply!
     <hr />
    <a asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>

